 <h1 style="text-align: center">TEAM</h1>

<div class="container">
  <div class="row">
      <% %w(CallumTipper ziich dancorpx fabioaapinto walkingjason Louise-He nhcvk sdenboer yunshengji).each do |gh_username| %>
        <div class="col-xs-6 col-sm-4 col-md-3" style="text-align: center">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "avatar-very-large" %>
          <h3 style="text-align: center"><%= gh_username%></h3>
        </div>
      <% end %>
  </div>
</div>
